langchain
langchain-core
langchain-community
langgraph
langgraph-cli
langsmith
langserve
langchain-openai
langchain-deepseek
langchain-tavily
langchain-text-splitters
langchain-experimental
langchain-huggingface
mcp
mcp[cli]
mcp[all]
fastmcp
langchain-mcp-adapters
faiss-cpu
pydantic
langgraph[all]
aiosqlite
fastapi
websockets
sounddevice
numpy
