langchain
langchain-core
langchain-community
langgraph
langsmith
langserve
langchain-openai
langchain-tavily
langchain-text-splitters
langchain-experimental
langchain-huggingface
mcp
mcp[cli]
fastmcp
langchain-mcp-adapters
faiss-cpu
pydantic
